.body__dark{
    
    // ---------- Section__2 ---------

    
    .choose{
        background: #22343D;
        transition: all .5s ease;
    }

    .choose__title-heading{
        color: #ffffff;
    }

    .choose__cards-one--heading{
        color: #ffffff;
    }

    .choose__cards-one--text{
        color: #ffffff;
    }

    .choose__cards-two--heading{
        color: #ffffff;
    }

    .choose__cards-two--text{
        color: #ffffff;
    }

    .choose__cards-three--heading{
        color: #ffffff;
    }

    .choose__cards-three--text{
        color: #ffffff;
    }


    // ---------- Section__3 --------


    .work__title-heading{
        color: #ffffff;
    }

    .work__step1-content--strong{
        color: #ffffff;
    }
    
    .work__step1-content--heading{
        color: #ffffff;
    }
    
    .work__step1-content--text{
        color: #ffffff;
    }

    .work__step2-content--strong{
        color: #ffffff;
    }
    
    .work__step2-content--heading{
        color: #ffffff;
    }
    
    .work__step2-content--text{
        color: #ffffff;
    }

    .work__step3-content--strong{
        color: #ffffff;
    }
    
    .work__step3-content--heading{
        color: #ffffff;
    }
    
    .work__step3-content--text{
        color: #ffffff;
    }


    // --------- Section__4 ---------


    .offers{
        background-image: none;
        background-color: #22343D;
        transition: all .5s ease;
    }
    
    .offers__title-heading{
        color: #ffffff;
    }

    // -------- > Left

    .offers__content-left--heading{
        color: #ffffff;
    }

    .offers__content-left--item{
        color: #ffffff;
    }
    
    .offers__content-left--strong{
        color: #ffffff;
    }


    // --------- > Right


    .offers__content-right--heading{
        color: #ffffff;
    }

    .offers__content-right--item{
        color: #ffffff;
    }
    
    .offers__content-right--strong{
        color: #ffffff;
    }

}