.body__dark{
    
    // ----------- Section__1 -----------


    .pricing__title{
        color: #ffffff;
    }

    .pricing__heading{
        color: #ffffff;
    }

    .pricing__text{
        color: #ffffff;
    }


    // ----------- Section__2 -------------


    .enterprise{
        background-image: none;
        background-color:#22343D;
        transition: all .5s ease;
    }

    .enterprise__strong{
        color: #ffffff;
    }
    
    .enterprise__heading{
        color: #ffffff;
    }
    
    .enterprise__text{
        color: #ffffff;
    }


    // ------------ Section__3 --------------


    .alongside__heading{
        color: #ffffff;
    }

    .alongside__hero-content--heading1{
        color: #ffffff;
    }

    .alongside__hero-content--heading2{
        color: #ffffff;
    }

    .alongside__hero-content--heading3{
        color: #ffffff;
    }

    .alongside__hero-content--text{
        color: #ffffff;
    }


    // ------------ Section__4 -------------


    .question__title-heading{
        color: #ffffff;
    }
    
    .question__title-text{
        color: #ffffff;
    }

    .question__content-1{
        color: #ffffff;
    }

    .question__content-2{
        color: #ffffff;
    }

    .question__content-text{
        color: #ffffff;
    }

}